
/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ready-to-start{
      padding: 7.4% 0 7%;
    background-color: #223e99;
}

.ready-to-start p {
    color: #fff;
    font-size: 23px;
    line-height: 25px;
    padding: 0 15px;
    margin: 2.5% auto;
}
.ready-to-start h2 span {
    color: #fff;
    display: block;
}

.ready-to-start h2 {
    color: #00b4f5;
    margin-top: 10px;
}

@media only screen and (max-width: 767px)
.ready-to-start .btn-secondary {
    min-width: 272px;
    font-size: 35px;
    line-height: 5.2rem;
    border-radius: 7px;
    margin-top: 6px;
    font-weight: 300;
    background: #00b4f5;
}
.ready-to-start .btn-secondary {
    min-width: 272px;
    font-size: 25px;
    line-height: 65px;
    border-radius: 7px;
    margin-top: 6px;
    font-weight: 300;
    background: #00b4f5;
}

.btn-secondary {
    color: #fff;
    border-color: #223e99;
    background-color: #223e99;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.inner-heading-wrapper {
    max-width: 58%;
    margin: 0 auto;
    width: 100%;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.top-right {
      position: absolute;
      right: 20px;
      margin-top:auto;
            }



#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








